@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}
<div class="card" id="ProductsTableContainer">
    </>
    <partial name="_ProductsTable.cshtml" />
</div>

<div class="modal" id="addProductToShoppingList" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title">Add to Shopping List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="ModalBody">
            <form id="addProductToShoppingListForm">
                    <div class="display:flex; flex-direction: row; justify-content-evenly">
                    <div class="col-6" id="ddlContainer">
                        <select class="form-select" disabled>
                            <option>Loading Shopping Lists...</option>
                        </select>
                    </div>
                        <label>Quantity: </label>
                        <input type="number" name="productQuantity" class="form-control" value="1" min="1" max="99" />
                    <div class="col-2; py-2">
                            <input type="submit" value="Add to Shopping List" class="btn btn-success" />
                    </div>
                </div>
            </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="addProductDupItem" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
                <h5 class="modal-title">Add to Shopping List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="ModalBody">
        <label>Product already exists in Shopping List.</label>
      </div>
    </div>
  </div>
</div>
@section Scripts {
    <script src="~/js/ProductsScripts.js" asp-append-version="true"></script>
}
