<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SamsWarehouseApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SamsWarehouseApplication.styles.css" asp-append-version="true" />

    @if (Context.Request.Cookies.Any(x => x.Key == "theme"))
    {
        if (Context?.Request?.Cookies?["theme"].ToString() == "dark")
        {
            <link rel="stylesheet" href="/css/DarkTheme.css" id="themeStyle" />
        }
        else
        {
            <link rel="stylesheet" href="/css/LightTheme.css" id="themeStyle" />
        }
    }
    else
    {
        <link rel="stylesheet" href="/css/LightTheme.css" id="themeStyle" />
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <link rel="stylesheet" href="/css/Spin.css"/>
                <img class="swLogo" src="~/swLogo.svg" width="50" height="50" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ShoppingList" asp-action="Index">Shopping List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                    </ul>
                    @if (!String.IsNullOrWhiteSpace(Context?.Session?.GetString("UserEmail")))
                    {
                        <div class="me-3">@Context.Session.GetString("UserEmail")</div>
                    }

                    @if (!String.IsNullOrWhiteSpace(Context?.Session?.GetString("Authenticated")))
                    {
                        @if (Context.Session.GetString("Authenticated").Contains("True"))
                        {
                            <a asp-controller="Login" asp-action="Logout" class="btn btn-danger me-3">Logout</a>
                        }
                    }
                    @if (String.IsNullOrWhiteSpace(Context?.Session?.GetString("Authenticated")))
                    {
                        <a asp-controller="Login" asp-action="Index" class="btn btn-success me-3">Login</a>
                    }
                    <input type="button" value="Switch Theme" class="btn btn-success me-3" id="btnSwitchTheme" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Sam's Warehouse' - <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @Html.AntiForgeryToken();
</body>
</html>
