@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Under the stars of the Southern Cross we live life our way. Life is in perpetual motion and to slow down is to be left in the dust.</p>
<p>The infinite bounds of the sunburnt land and barreling blue swells are limited only by your imagination. Kick out the sand, pump up the tunes, and head into Sam's Warehouse. Crisp and cool with a kaleidoscope of products, it'll keep the fast times spinning morning, noon and night.</p>
<p>Sam's Warehouse is calling. Pursue your dreams. Search for adventure. Get out there and let the good shopping lists flow!</p>

<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/iUtnZpzkbG8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</p>