@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align:center">Welcome to Sam's Warehouse</h1>
<p style="text-align:center">Welcome dear guest. May you find your products in this place.</p>
